.header-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 235, 235);
    border-radius: 1rem;
}
.side-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: flex;
    margin-right: 4rem;
    padding: 1rem;
    border-radius: 2rem;
    color: black;
    font-size: 1rem;
}
a{
    text-decoration: none;
}
.header-name{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}